<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Account Verification</title>
  </head>
  <body>
    <h1>Welcome to ChatSphere!</h1>
    <p>Please verify your email address by clicking the link below:</p>
    <a href="{{.VerificationLink}}">Verify Account</a>
    <p>If you did not create an account, no further action is required.</p>
    <p>Thanks,</p>
    <p>The Team ChatSphere</p>
  </body>
</html>
